.button{
    float: left;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

.succes{
    background-color: #28a745;
    border-color: #28a745;
}

.danger{
    background-color: #dc3545;
    border-color: #dc3545;
}

.delete-line{
    margin-left: 20px;
    height: 30px;
    margin-top: -0px;
}