.e-bk-input-text-folder{
    float: left;
    width: 80%;
    padding: 5px;
}

.e-bk-input-folder{
    float: left;
    display: none;
}

.e-bk-input-folder-label{
    float: left;
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid white;
    padding: 4px;
}

.e-bk-line-input{
    float: left;
    width: 80%;
    padding: 5px;
}